# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Build folders
build/
cmake-build-*/

# Cache/IDE folders
.cache/
.vscode/
.idea/
.vs/

*.db
*.ipch
Survive/.vs/Survive/v17/.suo
*.ilk
*.log
*.tlog
*.idb
*.pdb
Survive/Survive/x64/Debug/Survive.tlog/Survive.lastbuildstate
*.recipe
